*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #c5b327, #ffe700);

    font-family: monospace;
}





.propositions-wrapper{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 150px 150px;
    
}
form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.choice_container{
    border-radius: 30px;
    margin: 2em;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.89s ;
    background-color: transparent;
    box-shadow: 1px 0.5px 3px rgb(163, 169, 187);
    text-align: center;
    padding: 1em;


}

.choice_container:hover{
    transform: scale(1.1);
}
.btn-continue{
    display: none;
}

.explication{
    display:none;
    border: 2px solid rgba(65, 118, 233);
    border-radius: 5px;
    background-color:rgb(183, 200, 236);
    padding: 2em;
    height: auto;
    width: 50%;
    margin: 2em;
}

.wrapper{
    width: 100%;
    margin:auto;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;

}

.btn-continue, #btn-submit{
    width : 250px;
    background-color: rgb(56, 111, 231);
    color: white;
    height: auto;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    border: 1px solid;
    
}

input[type="radio"]{
    display: block;
}



label{
    margin: 0.5em;
}
