*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: monospace;
}

.container-evolution-score {
    position: relative;
    width: 100%;
    height: 40px; 
    margin: 2em 0;
}

.evolution {
    position: absolute;
    left: 50px; 
    top: 80%;
    transform: translateY(-50%);
    height: 12px;
    background-color: rgb(56, 111, 231);
    width:0 ; 
    border-radius: 12px;
    text-align: center;
}
.div-question{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#question, #number_question{
    text-align: center;
}

@media (max-width: 767px) {
    .propositions-wrapper{
        display: flex;
        flex-direction: column;
    }
}
#score {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(56, 111, 231);
    color: white;
    padding: 8px 16px;
    border-radius: 10px;
    min-width: 100px;
    text-align: center;
}

.propositions-wrapper{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 150px 150px;
    
}
form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="radio"] {
  display: none;
  opacity: 0;
}


.choice_container{
    border-radius: 30px;
    margin: 2em;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.89s ;
    background-color: transparent;
    box-shadow: 1px 0.5px 3px rgb(163, 169, 187);
    text-align: center;
    padding: 1em;
}

.choice_container:hover{
    transform: scale(1.05);
}
.btn-continue{
    display: none;
}

.explication{
    display:none;
    border: 2px solid rgba(65, 118, 233);
    border-radius: 5px;
    background-color:rgb(183, 200, 236);
    padding: 2em;
    height: auto;
    width: 50%;
    margin: 2em auto;
}
.wrapper{
    width: 100%;
    margin:auto;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;

}

.btn-continue, #btn-submit, #replay, #play{
    width : 250px;
    background-color: rgb(56, 111, 231);
    color: white;
    height: auto;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    border: 1px solid;
    text-align: center;
    margin: auto;
    
}

input[type="radio"]{
    display: block;
}



label{
    margin: 0.5em;
}




/*le loader */

#loader{
    margin: 250px;
    display: none;
    height: 100vh;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.bubble{
    
    width: 15px;
    height: 15px;
    background-color: rgb(56, 111, 231);
    border-radius: 50%;
    animation: bounce 1.2s infinite ease-in-out;
}

@keyframes bounce {
    0%, 80%, 100%{
        transform: scale(0);
        opacity: 1;
    }
    40%{
        transform: scale(1.2);
        opacity: 0.7;
    }
    
}

.bubble:nth-child(2){
    animation-delay: 0.2s;
}

.bubble:nth-child(3){
    animation-delay: 0.4s;
}

.infos{
    margin: 250px ;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jeu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tempsEcoule, .en-plus {
    margin: auto;
    text-align: center;
}

#timer-display{
    margin-left: 5em;
}